@mixin after($width,$height,$back){
        display: block;
        content: '';
        width: $width;
        height: $height;
        position: absolute;
        background: $back;
}
@mixin background($url){
    background: url("../img/"+$url)no-repeat center center;
}
@mixin transition7s(){
    transition: all .7s;
}
@mixin transition1s(){
    transition: all 1s;
}
@mixin aniDelay($s){
    animation-delay: $s+s;
}
// @mixin colorBox($w,$h){
//     animation: color 3s ease-in-out forwards;
//     @keyframes color{
//         0%{
//             width: 0;
//             height: 0;
//         }
//         30%{
//             width: 0;
//             height: 0;
//         }
//         100%{
//             width: $w;
//             height: $h;
//         }
//     }
// }
