$color : #00b17e;
$gnbBorder : 1px solid #ddd;
@mixin after($width,$height,$back){
        display: block;
        content: '';
        width: $width;
        height: $height;
        position: absolute;
        background: $back;
}
@mixin background($url){
    background: url("../img/"+$url)no-repeat center center;
}
@mixin transition7s(){
    transition: all .7s;
}
@mixin transition1s(){
    transition: all 1s;
}
@mixin up(){
    &.up{
        transform: translateY(80px);
        opacity: 0;
        transition: .5s ease-in;
    }
}
@mixin rightIn(){
    &.rightIn{
        transform: translateX(300px);
        opacity: 0;
        transition: 1s ease-in-out;
    } 
}
@mixin leftIn(){
    &.leftIn{
    transform: translateX(-300px);
    opacity: 0;
    transition: 1s ease-in-out;
    }
}
