$strColor : #2a1b3d;
$gsColor : #cfdae6;
$gsMainColor : #031a34;
$portMainColor : #febf00;
$portColor : #d5d3d5;
@mixin after($width,$height,$back){
        display: block;
        content: '';
        width: $width;
        height: $height;
        position: absolute;
        background: $back;
}
@mixin background($url){
    background: url("../img/"+$url)no-repeat center center;
}
@mixin italic($s){
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 400;
    font-size: $s;
}
@mixin transition7s(){
    transition: all .7s;
}
@mixin transition1s(){
    transition: all 1s;
}
@mixin aniDelay($s){
    animation-delay: $s+s;
}
@mixin whiteBold($size){
    color: #fff;
    font-weight: bold;
    font-size: $size;
}
@mixin popBox(){
    width: 80%;
    height: 700px;
    margin: 180px auto;
}
@mixin popSubBox(){
    width: 80%;
    margin: 0 auto 180px;
}
@mixin popUp(){
    transform: translateY(50px);
    opacity: 0;
    animation: up 1s forwards;
    @keyframes up{
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
}
@mixin aniDelay($s){
    animation-delay: $s;
}
@mixin inSubBox(){
    &.in{
        width: 0;
        opacity: 0;
        animation: subIn 0.7s 0.3s forwards;
        @keyframes subIn{
            100%{
                width: 880px;
                opacity: 1;
            }
        }
    }
    
}
@mixin inTextBox(){
    &.in{
        transform: translateX(500px);
        opacity: 0;
        animation: textIn 0.7s 1s forwards;
        @keyframes textIn{
            100%{
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}
@mixin workPhoto(){
    @include inSubBox();
    background: $gsColor;
}
@mixin overflowY(){
    overflow-y: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
}