@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Noto Sans KR', sans-serif;
  vertical-align: baseline;
  color: #1c1b20;
  font-size: 16px; }

a {
  display: inline-block;
  text-decoration: none;
  color: #333; }

span {
  display: inline-block; }

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrap {
  width: 100%;
  position: relative; }

header {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0; }
  header .headerInner {
    width: 100%;
    height: 100%;
    padding: 23px 18px;
    box-sizing: border-box;
    position: relative; }
    header .headerInner.active h1 {
      margin-left: 0;
      left: calc(15.625vw + 33px);
      top: 120px; }
    header .headerInner.active .menuBox {
      width: 80vw; }
      header .headerInner.active .menuBox .menu {
        width: 100%;
        visibility: visible; }
        header .headerInner.active .menuBox .menu .menuList:nth-of-type(1) span {
          transition-delay: calc(1 * 0.2s); }
        header .headerInner.active .menuBox .menu .menuList:nth-of-type(2) span {
          transition-delay: calc(2 * 0.2s); }
        header .headerInner.active .menuBox .menu .menuList:nth-of-type(3) span {
          transition-delay: calc(3 * 0.2s); }
        header .headerInner.active .menuBox .menu .menuList:nth-of-type(4) span {
          transition-delay: calc(4 * 0.2s); }
        header .headerInner.active .menuBox .menu .menuList span {
          transform: translateY(0); }
        header .headerInner.active .menuBox .menu .info {
          transition: 1s 1s;
          opacity: 1; }
      header .headerInner.active .menuBox .menuBtn {
        transform: rotate(-90deg);
        left: 5vw; }
        header .headerInner.active .menuBox .menuBtn span:nth-of-type(1) {
          transform: rotate(45deg); }
        header .headerInner.active .menuBox .menuBtn span:nth-of-type(2) {
          transform: rotate(-45deg); }
    header .headerInner h1 {
      margin-left: 55px;
      position: absolute;
      left: 0;
      top: 23px;
      font-weight: bold;
      transition: all .7s;
      z-index: 1000; }
    header .headerInner .menuBox {
      width: 55px;
      height: 100vh;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      transition: all .7s;
      z-index: 200; }
      header .headerInner .menuBox .menuBtn {
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        left: 18px;
        z-index: 10;
        cursor: pointer;
        transition: all .7s; }
        header .headerInner .menuBox .menuBtn span {
          width: 24px;
          height: 2px;
          border-radius: 2px;
          background: #333;
          transform-origin: 21%; }
      header .headerInner .menuBox .menu {
        margin-left: 15.625vw;
        visibility: hidden; }
        header .headerInner .menuBox .menu .menuList {
          display: block;
          padding: 15px;
          cursor: pointer;
          overflow: hidden; }
          header .headerInner .menuBox .menu .menuList:hover span:after {
            width: calc(100% + 20px); }
          header .headerInner .menuBox .menu .menuList:nth-of-type(2) span:after {
            background: #febf00; }
          header .headerInner .menuBox .menu .menuList:nth-of-type(3) span:after {
            background: #999; }
          header .headerInner .menuBox .menu .menuList:nth-of-type(4) span:after {
            background: #f00; }
          header .headerInner .menuBox .menu .menuList span {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 2rem;
            z-index: 2;
            transform: translateY(200%);
            transition: .3s; }
            header .headerInner .menuBox .menu .menuList span:after {
              display: block;
              content: '';
              width: 0;
              height: 15px;
              position: absolute;
              background: #3f4bb4;
              left: -10px;
              top: 50%;
              transform: translateY(-50%);
              transition: all .7s;
              z-index: -1;
              opacity: .5; }
        header .headerInner .menuBox .menu .info {
          padding: 80px 0 0 10px;
          opacity: 0; }
          header .headerInner .menuBox .menu .info p {
            font-size: 14px;
            font-weight: bold;
            line-height: 2em; }
    header .headerInner .rightMenu {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 500; }
      header .headerInner .rightMenu a {
        width: 28px;
        height: 28px;
        text-indent: -9999px;
        background: url("../img/github.png") no-repeat center center; }

main {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: absolute;
  overflow: hidden; }
  main .pageInner {
    width: calc(100% - 110px);
    height: calc(100vh - 110px);
    margin: 55px;
    position: relative;
    overflow: hidden; }
    main .pageInner section {
      width: 100%;
      height: 100%;
      background: #f8f8f8;
      position: absolute;
      left: 0%;
      top: calc(100% + 55px); }
      main .pageInner section.contents {
        top: 0;
        z-index: 100; }
  main .scrollDown {
    position: absolute;
    left: calc(50% - 45px);
    bottom: 100px;
    transform: translateX(50%) rotate(-90deg);
    z-index: 500;
    transition: all .7s; }
    main .scrollDown.active {
      transform: translateY(100px) translateX(50%) rotate(-90deg); }
    main .scrollDown:after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      background: none;
      left: -20px;
      bottom: -1px;
      border: 5px solid transparent;
      border-top: 5px solid #fff;
      transform: rotate(90deg);
      animation: scroll .7s infinite alternate-reverse ease-in-out; }
@keyframes scroll {
  100% {
    left: -24px; } }
    main .scrollDown span {
      color: #fff;
      font-size: 12px;
      font-weight: 100; }

.pageInner.active .pageColor {
  right: 0; }
.pageInner.active .main .mainCopy {
  transform: translateX(141%); }
.pageInner.active .main .mainMenu ul {
  transform: translateY(0%);
  transition-delay: .7s; }
.pageInner .pageColor {
  width: 100%;
  height: 100%;
  background: #080233;
  position: absolute;
  right: 50%;
  top: 0;
  transform: translateX(0);
  transition: all 1s;
  transition-timing-function: ease-out;
  z-index: 10; }
.pageInner .main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  left: 0;
  top: 0;
  transition: all 1s; }
  .pageInner .main .mainCopy {
    position: relative;
    z-index: 100;
    mix-blend-mode: difference;
    transform: translateX(-9px);
    transition: all 1s;
    transition-delay: 0.2s; }
    .pageInner .main .mainCopy svg .suafolio g .copyLine {
      fill: none;
      stroke-width: 24.5;
      stroke-dashoffset: 700;
      stroke-dasharray: 700;
      animation: lineAni 3s 0.1s forwards; }
    .pageInner .main .mainCopy svg .suafolio .s .copyLine, .pageInner .main .mainCopy svg .suafolio .f .copyLine, .pageInner .main .mainCopy svg .suafolio .o .copyLine {
      stroke-width: 33; }
    .pageInner .main .mainCopy svg .suafolio .a .copyLine:nth-of-type(2), .pageInner .main .mainCopy svg .suafolio .f .copyLine:nth-of-type(2) {
      animation-delay: 0.2s; }
    .pageInner .main .mainCopy svg .suafolio .s .copyLine, .pageInner .main .mainCopy svg .suafolio .o .copyLine {
      animation-delay: 0.6s; }
    .pageInner .main .mainCopy svg .suafolio .l .copyLine:nth-of-type(2), .pageInner .main .mainCopy svg .suafolio .f .copyLine:nth-of-type(3), .pageInner .main .mainCopy svg .suafolio .a .copyLine:nth-of-type(3) {
      animation-delay: 0.8s; }
    .pageInner .main .mainCopy svg .suafolio .u .copyLine, .pageInner .main .mainCopy svg .suafolio .i .copyLine {
      animation-delay: 1s; }
    .pageInner .main .mainCopy svg .suafolio .o_2 .copyLine {
      animation-delay: 1.2s; }
    .pageInner .main .mainCopy svg .suafolio .dot path {
      fill: #fff;
      opacity: 0;
      animation: dot 1s 1.3s forwards; }
@keyframes lineAni {
  100% {
    stroke-dashoffset: 0; } }
@keyframes dot {
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .pageInner .main .mainMenu {
    width: 60%;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 20; }
    .pageInner .main .mainMenu ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(200%);
      transition: all .7s; }
      .pageInner .main .mainMenu ul li {
        font-weight: bold;
        font-size: 4.5rem;
        color: #fff;
        cursor: pointer;
        transition: all .35s; }
        .pageInner .main .mainMenu ul li:hover {
          letter-spacing: 3px;
          color: transparent;
          -webkit-text-stroke: 2px #fff; }
.pageInner .about {
  background: #3f4bb4; }
.pageInner .work {
  background: #999; }
.pageInner .contact {
  background: #444; }

/*# sourceMappingURL=main.css.map */
