@import "reset";
@import "mixin";
.wrap{
    width: 100%;
    position: relative;
}
header{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    .headerInner{
        width: 100%;
        height: 100%;
        padding: 23px 18px;
        box-sizing: border-box;
        position: relative;
        &.active{
            h1{
                margin-left: 0;
                left: calc(15.625vw + 33px);
                top: 120px;
            }
            .menuBox{
                width: 80vw;
                .menu{
                    width: 100%;
                    visibility: visible;
                    .menuList{
                        @for $i from 1 to 5{
                            &:nth-of-type(#{$i}) span{
                                transition-delay: calc(#{$i} * 0.2s) ;
                            }
                        }
                        & span{
                            transform: translateY(0);
                        }
                    }
                    .info{
                        transition: 1s 1s;
                        opacity: 1;
                    }
                }
                .menuBtn{
                    transform: rotate(-90deg);
                    left: 5vw;
                    span:nth-of-type(1){
                        transform: rotate(45deg);
                    }
                    span:nth-of-type(2){
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        h1{
            margin-left: 55px;
            position: absolute;
            left: 0;
            top: 23px;
            font-weight: bold;
            @include transition7s();
            z-index: 1000;
        }
        .menuBox{
            width: 55px;
            height: 100vh;
            padding: 15px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            background: #fff;
            @include transition7s();
            z-index: 500;
            .menuBtn{
                height: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: absolute;
                left: 18px;
                z-index: 10;
                cursor: pointer;
                outline: none;
                @include transition7s();
                span{
                    width: 24px;
                    height: 2px;
                    border-radius: 2px;
                    background: #333;
                    transform-origin: 21%;
                }
            }
            .menu{
                margin-left: 15.625vw;
                visibility: hidden;
                .menuList{
                    display: block;
                    padding: 15px;
                    cursor: pointer;
                    overflow: hidden;
                    &:hover span:after{
                        width: calc(100% + 20px);
                    }
                    &:nth-of-type(2) span:after{
                        background: #febf00;
                    }
                    &:nth-of-type(3) span:after{
                        background: #999;
                    }
                    &:nth-of-type(4) span:after{
                        background: #f00;
                    }
                    span{
                        position: relative;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        font-size: 2rem;
                        z-index: 2;
                        transform: translateY(200%);
                        transition: .3s;
                        &:after{
                            @include after(0,15px,#3f4bb4);
                            left: -10px;
                            top: 50%;
                            transform: translateY(-50%);
                            @include transition7s();
                            z-index: -1;
                            opacity: .5;
                        }
                    }
                }
                .info{
                    padding: 80px 0 0 10px;
                    opacity: 0;
                    p{
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 2em;
                    }
                }
            }
        }
        .rightMenu{
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 500;
            a{
                width: 28px;
                height: 28px;
                text-indent: -9999px;
                @include background('github.png');
            }
        }
    }   
}
main{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: absolute;
    overflow: hidden;
    .pageInner{
        width: calc(100% - 110px);
        height: calc(100vh - 110px);
        margin: 55px;
        position: relative;
        overflow: hidden;
        section{
            width: 100%;
            height: 100%;
            background: #f8f8f8;
            position: absolute;
            left: 0%;
            top: calc(100% + 55px);
            &.contents{
                top: 0;
                display: block;
            }
        }
    }
    .scrollDown{
        position: absolute;
        left: calc(50% - 45px);
        bottom: 100px;
        transform: translateX(50%) rotate(-90deg);
        z-index: 500;
        @include transition7s();
        &.active{
            transform: translateY(100px) translateX(50%) rotate(-90deg);
        }
        &:after{
            @include after(0,0,none);
            left: -20px;
            bottom: -1px;
            border: 5px solid transparent;
            border-top: 5px solid #fff;
            transform: rotate(90deg);
            animation: scroll .7s infinite alternate-reverse ease-in-out;
        }
        @keyframes scroll{
            100%{
                left: -24px;
            }
        }
        span{
            color: #fff;
            font-size: 12px;
            font-weight: 100;
        }
    }
}
.pageInner{
    &.active{
        .pageColor{
            right: 0 !important;
        }
        .main{
            .mainCopy{
                transform: translateX(100%) translateY(-50%);
            }
            .mainMenu ul{
                transform: translateY(0%);
                transition-delay: .7s;
            }
        }
    }
    &.overflowY{
        overflow-y: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
    }
    .pageColor{
        width: 100%;
        height: 100%;
        background: #080233;
        position: absolute;
        right:50%;
        bottom: 0;
        transform: translateX(0);
        @include transition1s();
        transition-timing-function: ease-out;
        z-index: 200;
    }
    .main{
        position: relative;
        overflow: hidden;
        left: 0;
        top: 0;
        @include transition1s();
        .mainCopy{
            position: absolute;
            left: 50%;
            top: 50%;
            mix-blend-mode: difference;
            transform: translateX(calc(-50% - 9px)) translateY(-50%);
            @include transition1s();
            transition-delay: 0.2s;
            z-index: 201;
            svg{
                .suafolio{
                    g .copyLine{
                        fill:none;
                        stroke-width: 24.5;
                        stroke-dashoffset: 700;
                        stroke-dasharray: 700;
                        animation: lineAni 3s 0.1s forwards;
                    }
                    .s .copyLine,.f .copyLine,.o .copyLine{stroke-width: 33;}
                    .a .copyLine:nth-of-type(2),.f .copyLine:nth-of-type(2){@include aniDelay(0.2);}
                    .s .copyLine, .o .copyLine{@include aniDelay(0.6);}
                    .l .copyLine:nth-of-type(2),.f .copyLine:nth-of-type(3),.a .copyLine:nth-of-type(3){@include aniDelay(0.8);}
                    .u .copyLine, .i .copyLine{@include aniDelay(1);}
                    .o_2 .copyLine{@include aniDelay(1.2);}
                    .dot path{fill: #fff; opacity: 0; animation: dot 1s 1.3s forwards}
                    @keyframes lineAni{
                        100%{stroke-dashoffset: 0;}
                    }
                    @keyframes dot{
                        80%{opacity: 0;}
                        100%{opacity: 1;}
                    }
                }
            }
        }
        .mainMenu{
            width: 60%;
            position: absolute;
            left: 10%;
            top: 50%;
            transform: translateY(-50%);
            overflow: hidden;
            z-index: 201;
            ul{
                width: 100%;
                display: flex;
                justify-content: space-between;
                transform: translateY(200%);
                @include transition7s();
                li{
                    font-weight: bold;
                    font-size: 4.5rem;
                    color: #fff;
                    cursor: pointer;
                    transition: all .35s;
                    &:hover{
                        letter-spacing: 3px;
                        color: transparent;
                        -webkit-text-stroke: 2px #fff;
                    }
                }
            }
        }
    }
    .sub{
        display: none;
        .subTit{
            position: absolute;
            left: 14%;
            top: 50vh;
            transform: translateY(-78%);
            z-index: 400;
            overflow: hidden;
            mix-blend-mode: difference;

            h2{                
                text-align: left;
                color: #fff;
                font-size: 100px;
                font-weight: bold;
                transform: translateY(100%);
                transition: all 1s;

            }
        }
        .subCopy{
            position: relative;
            z-index: 400;
            opacity: 0;
            transition: all 2s;

        }
    }
    .about{
        .subTit{
            h2{
            }
        }
        .subCopy{
            padding: 300px 300px 0 0;
            text-align: right;
            .italic{

            }
            .subText{
                p{}
            }
        }
    }
    .main{
        display: none;
    }
    .work{
        top: 0;
        display: block;
        .workBox{
            margin-right: 20%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 351;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(10%);
            opacity: 0;
            @include transition1s();
            .workTit{
                font-size: 50px;
                font-weight: bold;
                line-height: 1.2em;
                color: #333;
                color: transparent;
                -webkit-text-stroke: 2px #fff;
                mix-blend-mode: difference;
                position: absolute;
                right: -220px;
                top: 130px;                
            }
            .workImg{
                width: 720px;
                height: 405px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .workText{
                margin: 35px 0;
                color: #fff;
                font-size: 14px;
                font-weight: 100;
                white-space: pre-line;
                text-align: center;
                line-height: 1.5em;
            }
            .viewBtn{
                padding: 12px 50px;
                color: #fff;
                border: 1px solid #fff;
                line-height: 24px;
            }
        }
        .control{
            height: calc(50vh - 110px);
            padding: 24px;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 351;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            opacity: 0;
            @include transition1s();
            .controlBtn{
                button{
                    width: 32px;
                    height: 32px;
                    border: 1px solid #565656;
                    box-sizing: border-box;
                    display: block;
                }
                .prev{
                    @include background('control_prev.png');
                }
                .next{
                    @include background('control_next.png');
                }
            }
            .workNum{
                span{
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                }
                .listNum{
                    margin-bottom: 20px;
                    color: #fff;
                    position: relative;
                    &:after{
                        @include after(24px,1px,#585858);
                        bottom: -10px;
                        right: -5px;
                    }
                }
                .total{
                    color: #585858;
                }
            }
            .controlList{
                width: 28px;
                height: 28px;
                padding: 1px;
                @include background('control_list.png');
                outline: none;
            }
        }
    }
    .contact{
    }
}
