@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Noto Sans KR', sans-serif;
  vertical-align: baseline;
  color: #1c1b20;
  font-size: 16px; }

a {
  display: inline-block;
  text-decoration: none;
  color: #333; }

span {
  display: inline-block; }

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrap {
  width: 100%;
  position: relative; }

header {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0; }
  header .headerInner {
    width: 100%;
    height: 100%;
    padding: 23px 18px;
    box-sizing: border-box;
    position: relative; }
    header .headerInner.active h1 {
      margin-left: 0;
      left: calc(15.625vw + 33px);
      top: 120px; }
    header .headerInner.active .menuBox {
      width: 80vw; }
      header .headerInner.active .menuBox .menu {
        width: 100%;
        visibility: visible; }
        header .headerInner.active .menuBox .menu .menuList:nth-of-type(1) span {
          transition-delay: calc(1 * 0.2s); }
        header .headerInner.active .menuBox .menu .menuList:nth-of-type(2) span {
          transition-delay: calc(2 * 0.2s); }
        header .headerInner.active .menuBox .menu .menuList:nth-of-type(3) span {
          transition-delay: calc(3 * 0.2s); }
        header .headerInner.active .menuBox .menu .menuList:nth-of-type(4) span {
          transition-delay: calc(4 * 0.2s); }
        header .headerInner.active .menuBox .menu .menuList span {
          transform: translateY(0); }
        header .headerInner.active .menuBox .menu .info {
          transition: 1s 1s;
          opacity: 1; }
      header .headerInner.active .menuBox .menuBtn {
        transform: rotate(-90deg);
        left: 5vw; }
        header .headerInner.active .menuBox .menuBtn span:nth-of-type(1) {
          transform: rotate(45deg); }
        header .headerInner.active .menuBox .menuBtn span:nth-of-type(2) {
          transform: rotate(-45deg); }
    header .headerInner h1 {
      margin-left: 55px;
      position: absolute;
      left: 0;
      top: 23px;
      font-weight: bold;
      transition: all .7s;
      z-index: 1000; }
    header .headerInner .menuBox {
      width: 55px;
      height: 100vh;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      transition: all .7s;
      z-index: 800; }
      header .headerInner .menuBox .menuBtn {
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        left: 18px;
        z-index: 10;
        cursor: pointer;
        outline: none;
        transition: all .7s; }
        header .headerInner .menuBox .menuBtn span {
          width: 24px;
          height: 2px;
          border-radius: 2px;
          background: #333;
          transform-origin: 21%; }
      header .headerInner .menuBox .menu {
        margin-left: 15.625vw;
        visibility: hidden; }
        header .headerInner .menuBox .menu .menuList {
          display: block;
          padding: 15px;
          cursor: pointer;
          overflow: hidden; }
          header .headerInner .menuBox .menu .menuList:hover span:after {
            width: calc(100% + 20px); }
          header .headerInner .menuBox .menu .menuList:nth-of-type(2) span:after {
            background: #febf00; }
          header .headerInner .menuBox .menu .menuList:nth-of-type(3) span:after {
            background: #999; }
          header .headerInner .menuBox .menu .menuList:nth-of-type(4) span:after {
            background: #f00; }
          header .headerInner .menuBox .menu .menuList span {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 2rem;
            z-index: 2;
            transform: translateY(200%);
            transition: .3s; }
            header .headerInner .menuBox .menu .menuList span:after {
              display: block;
              content: '';
              width: 0;
              height: 15px;
              position: absolute;
              background: #3f4bb4;
              left: -10px;
              top: 50%;
              transform: translateY(-50%);
              transition: all .7s;
              z-index: -1;
              opacity: .5; }
        header .headerInner .menuBox .menu .info {
          padding: 80px 0 0 10px;
          opacity: 0; }
          header .headerInner .menuBox .menu .info p {
            font-size: 14px;
            font-weight: bold;
            line-height: 2em; }
    header .headerInner .rightMenu {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1000; }
      header .headerInner .rightMenu a {
        width: 28px;
        height: 28px;
        text-indent: -9999px;
        background: url("../img/github.png") no-repeat center center; }

main {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: absolute;
  overflow: hidden; }
  main .pageInner {
    width: calc(100% - 110px);
    height: calc(100vh - 110px);
    margin: 55px;
    position: relative;
    overflow: hidden; }
    main .pageInner section {
      width: 100%;
      height: 100%;
      background: #f8f8f8;
      position: absolute;
      left: 0%;
      top: calc(100% + 55px); }
      main .pageInner section.contents {
        top: 0;
        display: block; }
  main .scrollDown {
    position: absolute;
    left: calc(50% - 45px);
    bottom: 100px;
    transform: translateX(50%) rotate(-90deg);
    z-index: 3000;
    transition: all .7s; }
    main .scrollDown.active {
      transform: translateY(100px) translateX(50%) rotate(-90deg); }
    main .scrollDown.scrollPop {
      bottom: 50px; }
      main .scrollDown.scrollPop.opacity {
        opacity: 0; }
    main .scrollDown:after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      background: none;
      left: -20px;
      bottom: -1px;
      border: 5px solid transparent;
      border-top: 5px solid #fff;
      transform: rotate(90deg);
      animation: scroll .7s infinite alternate-reverse ease-in-out; }
@keyframes scroll {
  100% {
    left: -24px; } }
    main .scrollDown span {
      color: #fff;
      font-size: 12px;
      font-weight: 100; }
  main .down {
    display: none; }

.pageInner.active .pageColor {
  right: 0 !important; }
.pageInner.active .main .mainCopy {
  transform: translateX(100%) translateY(-50%); }
.pageInner.active .main .mainMenu ul {
  transform: translateY(0%);
  transition-delay: .7s; }
.pageInner.overflowY {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  .pageInner.overflowY::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/ }
.pageInner .pageColor {
  width: 100%;
  height: calc(100vh - 110px);
  background: #080233;
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(0);
  transition: all 1s;
  transition-timing-function: ease-out;
  z-index: 200; }
.pageInner .main {
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  transition: all 1s; }
  .pageInner .main .mainCopy {
    position: absolute;
    left: 50%;
    top: 50%;
    mix-blend-mode: difference;
    transform: translateX(calc(-50% - 9px)) translateY(-50%);
    transition: all 1s;
    transition-delay: 0.2s;
    z-index: 201; }
    .pageInner .main .mainCopy svg .suafolio g .copyLine {
      fill: none;
      stroke-width: 24.5;
      stroke-dashoffset: 700;
      stroke-dasharray: 700;
      animation: lineAni 3s 0.1s forwards; }
    .pageInner .main .mainCopy svg .suafolio .s .copyLine, .pageInner .main .mainCopy svg .suafolio .f .copyLine, .pageInner .main .mainCopy svg .suafolio .o .copyLine {
      stroke-width: 33; }
    .pageInner .main .mainCopy svg .suafolio .a .copyLine:nth-of-type(2), .pageInner .main .mainCopy svg .suafolio .f .copyLine:nth-of-type(2) {
      animation-delay: 0.2s; }
    .pageInner .main .mainCopy svg .suafolio .s .copyLine, .pageInner .main .mainCopy svg .suafolio .o .copyLine {
      animation-delay: 0.6s; }
    .pageInner .main .mainCopy svg .suafolio .l .copyLine:nth-of-type(2), .pageInner .main .mainCopy svg .suafolio .f .copyLine:nth-of-type(3), .pageInner .main .mainCopy svg .suafolio .a .copyLine:nth-of-type(3) {
      animation-delay: 0.8s; }
    .pageInner .main .mainCopy svg .suafolio .u .copyLine, .pageInner .main .mainCopy svg .suafolio .i .copyLine {
      animation-delay: 1s; }
    .pageInner .main .mainCopy svg .suafolio .o_2 .copyLine {
      animation-delay: 1.2s; }
    .pageInner .main .mainCopy svg .suafolio .dot path {
      fill: #fff;
      opacity: 0;
      animation: dot 1s 1.3s forwards; }
@keyframes lineAni {
  100% {
    stroke-dashoffset: 0; } }
@keyframes dot {
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .pageInner .main .mainMenu {
    width: 55%;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 201; }
    .pageInner .main .mainMenu ul {
      width: 80%;
      display: flex;
      justify-content: space-between;
      transform: translateY(200%);
      transition: all .7s; }
      .pageInner .main .mainMenu ul li {
        cursor: pointer;
        font-family: 'Noto Serif', serif;
        font-size: 3.5vw;
        font-style: italic;
        color: #fff;
        opacity: .6;
        transform: translateY(0);
        transition: all .3s; }
        .pageInner .main .mainMenu ul li:hover {
          transform: translateY(-5px);
          opacity: 1; }
.pageInner .sub {
  display: none; }
  .pageInner .sub .subTit {
    position: absolute;
    left: 14%;
    top: 50vh;
    transform: translateY(-78%);
    z-index: 400;
    overflow: hidden;
    mix-blend-mode: difference; }
    .pageInner .sub .subTit h2 {
      text-align: left;
      color: #fff;
      font-size: 100px;
      font-weight: bold;
      transform: translateY(100%);
      transition: all 1s; }
  .pageInner .sub .subCopy {
    position: relative;
    z-index: 400;
    opacity: 0;
    transition: all 2s; }
    .pageInner .sub .subCopy .italic {
      font-family: 'Noto Serif', serif;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      font-weight: bold; }
    .pageInner .sub .subCopy .subText p {
      white-space: pre-line;
      line-height: 1.4em; }
    .pageInner .sub .subCopy .subText .white {
      margin: 12px 0 10px;
      font-size: 18px;
      font-weight: bold;
      color: #fff; }
.pageInner .about .subCopy {
  position: relative;
  z-index: 400;
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40%;
  box-sizing: border-box; }
.pageInner .about .skill {
  padding: 130px 0 50px;
  position: relative;
  z-index: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f8f8f8; }
  .pageInner .about .skill .skillCopy {
    margin-bottom: 50px;
    text-align: center; }
    .pageInner .about .skill .skillCopy h3 {
      margin-bottom: 14px;
      font-weight: bold;
      font-size: 24px; }
    .pageInner .about .skill .skillCopy .italic {
      font-family: 'Noto Serif', serif;
      font-style: italic;
      font-weight: 400;
      font-size: 22px; }
  .pageInner .about .skill .skillIcon {
    width: 65.7458%;
    margin: 0 auto 60px;
    position: relative;
    z-index: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .pageInner .about .skill .skillIcon li {
      width: 100px;
      height: 100px;
      margin-bottom: 50px;
      position: relative;
      margin-right: 35px; }
      .pageInner .about .skill .skillIcon li:nth-of-type(1) {
        background: url("../img/skills_01.jpg") no-repeat center center; }
      .pageInner .about .skill .skillIcon li:nth-of-type(2) {
        background: url("../img/skills_02.jpg") no-repeat center center; }
      .pageInner .about .skill .skillIcon li:nth-of-type(3) {
        background: url("../img/skills_03.jpg") no-repeat center center; }
      .pageInner .about .skill .skillIcon li:nth-of-type(4) {
        background: url("../img/skills_04.jpg") no-repeat center center; }
      .pageInner .about .skill .skillIcon li:nth-of-type(5) {
        background: url("../img/skills_05.jpg") no-repeat center center; }
      .pageInner .about .skill .skillIcon li:nth-of-type(6) {
        background: url("../img/skills_06.jpg") no-repeat center center; }
      .pageInner .about .skill .skillIcon li:nth-of-type(7) {
        background: url("../img/skills_07.jpg") no-repeat center center; }
      .pageInner .about .skill .skillIcon li:nth-of-type(8) {
        background: url("../img/skills_08.jpg") no-repeat center center; }
      .pageInner .about .skill .skillIcon li:nth-of-type(9) {
        background: url("../img/skills_09.jpg") no-repeat center center; }
      .pageInner .about .skill .skillIcon li:last-of-type {
        margin-right: 0; }
      .pageInner .about .skill .skillIcon li:hover span {
        transform: translateX(-50%) translateY(0);
        opacity: 1; }
      .pageInner .about .skill .skillIcon li span {
        padding: 3px 6px;
        font-size: 12px;
        font-weight: 100;
        border-radius: 2px;
        position: absolute;
        left: 50%;
        bottom: -23px;
        transform: translateX(-50%) translateY(-5px);
        color: #fff;
        background: #000;
        opacity: 0;
        transition: .35s; }
  .pageInner .about .skill .skillList {
    width: 65.7458%;
    margin: 0 auto;
    padding: 30px 50px;
    position: relative;
    z-index: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .pageInner .about .skill .skillList > li {
      width: 375px;
      padding: 30px 30px 50px;
      box-sizing: border-box;
      margin-bottom: 30px;
      background: #fff;
      transition: .35s; }
      .pageInner .about .skill .skillList > li:hover {
        box-shadow: 0 0 8px 5px rgba(155, 155, 155, 0.1); }
      .pageInner .about .skill .skillList > li figure .skillNum {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #333;
        text-align: center;
        line-height: 32px; }
      .pageInner .about .skill .skillList > li figure figcaption {
        margin: 24px 0 30px;
        font-weight: bold;
        font-size: 20px; }
      .pageInner .about .skill .skillList > li figure ul {
        width: 100%; }
        .pageInner .about .skill .skillList > li figure ul li {
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 1.5em;
          color: #585858;
          position: relative;
          text-indent: 18px;
          white-space: pre-line; }
          .pageInner .about .skill .skillList > li figure ul li:last-of-type {
            margin-bottom: 0; }
          .pageInner .about .skill .skillList > li figure ul li:after {
            display: block;
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            background: none;
            background: url("../img/about_check.png") no-repeat center center;
            background-size: contain;
            left: 0;
            top: 4px; }
.pageInner .work .subTit {
  top: 44vh; }
.pageInner .work .workBox {
  margin-right: 22%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-40%);
  z-index: 351;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .7s; }
  .pageInner .work .workBox.active {
    opacity: 1;
    transform: translateY(-50%); }
  .pageInner .work .workBox .workTit {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2em;
    color: #333;
    text-align: right;
    position: absolute;
    right: -240px;
    top: 130px; }
  .pageInner .work .workBox .workImg {
    width: 720px;
    height: 405px; }
    .pageInner .work .workBox .workImg img {
      width: 100%;
      height: 100%; }
  .pageInner .work .workBox .workSkill {
    margin-top: 35px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center; }
  .pageInner .work .workBox .workText {
    margin: 20px 0 30px;
    color: #bbb;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    line-height: 1.5em; }
  .pageInner .work .workBox .viewBtn {
    padding: 7px 40px;
    color: #bbb;
    border: 1px solid #bbb;
    line-height: 24px;
    transition: all .7s; }
    .pageInner .work .workBox .viewBtn:hover {
      background: #bbb;
      color: #000;
      font-weight: 700; }
.pageInner .work .control {
  height: calc(50vh - 110px);
  padding: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 1s; }
  .pageInner .work .control .controlBtn {
    position: relative;
    z-index: 351; }
    .pageInner .work .control .controlBtn button {
      width: 32px;
      height: 32px;
      border: 1px solid #565656;
      box-sizing: border-box;
      display: block; }
    .pageInner .work .control .controlBtn .prev {
      background: url("../img/control_prev.png") no-repeat center center; }
    .pageInner .work .control .controlBtn .next {
      background: url("../img/control_next.png") no-repeat center center; }
  .pageInner .work .control .workNum {
    position: relative;
    z-index: 351; }
    .pageInner .work .control .workNum span {
      display: block;
      font-size: 14px;
      font-weight: bold; }
    .pageInner .work .control .workNum .listNum {
      margin-bottom: 20px;
      color: #fff;
      position: relative; }
      .pageInner .work .control .workNum .listNum:after {
        display: block;
        content: '';
        width: 24px;
        height: 1px;
        position: absolute;
        background: #585858;
        bottom: -10px;
        right: -5px; }
    .pageInner .work .control .workNum .total {
      color: #585858; }
  .pageInner .work .control .controlList {
    width: 28px;
    height: 28px;
    padding: 1px;
    background: url("../img/control_list.png") no-repeat center center;
    outline: none;
    position: relative;
    z-index: 1000; }
.pageInner .work .workList {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 600;
  display: none;
  opacity: 0;
  transition: 3s; }
  .pageInner .work .workList.listBlock {
    display: block;
    animation: block 1.2s forwards; }
@keyframes block {
  10% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .pageInner .work .workList h3 {
    padding: 100px 0 90px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 50px; }
  .pageInner .work .workList ul {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden; }
    .pageInner .work .workList ul li {
      position: relative;
      min-width: 18vw;
      height: 18vw;
      margin-right: 40px;
      margin: 0 40px 40px 0;
      overflow: hidden; }
      .pageInner .work .workList ul li figure {
        width: 100%;
        height: 100%;
        position: relative; }
        .pageInner .work .workList ul li figure p {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0; }
          .pageInner .work .workList ul li figure p img {
            width: 100%;
            height: 100%; }
        .pageInner .work .workList ul li figure figcaption {
          width: 100%;
          height: 100%;
          padding-left: 40px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateY(0%);
          transition: all .7s; }
          .pageInner .work .workList ul li figure figcaption span {
            font-size: 1.6vw;
            color: #fff;
            font-weight: bold;
            line-height: 1.2em; }
          .pageInner .work .workList ul li figure figcaption .hashtag {
            display: block;
            margin-top: 50px;
            font-size: 1vw; }
      .pageInner .work .workList ul li:nth-of-type(1) figure figcaption {
        background: #9c33ff; }
      .pageInner .work .workList ul li:nth-of-type(2) figure figcaption {
        background: #206cc2; }
      .pageInner .work .workList ul li:nth-of-type(3) figure figcaption {
        background: #febf00; }
      .pageInner .work .workList ul li:last-of-type {
        margin-right: 0; }
        .pageInner .work .workList ul li:last-of-type figure figcaption {
          background: #666666; }
      .pageInner .work .workList ul li:last-of-type .listBtn {
        display: none; }
      .pageInner .work .workList ul li:hover figure figcaption {
        transform: translateY(100%); }
      .pageInner .work .workList ul li:hover:last-of-type figure figcaption {
        transform: translateY(0%); }
      .pageInner .work .workList ul li:hover .listBtn {
        opacity: 1;
        transition-delay: .2s; }
      .pageInner .work .workList ul li .listBtn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 7px 40px;
        color: #fff;
        border: 1px solid #fff;
        line-height: 24px;
        opacity: 0;
        transition: all .7s;
        outline: none; }
        .pageInner .work .workList ul li .listBtn:hover {
          background: rgba(255, 255, 255, 0.1); }
.pageInner .contact .info {
  width: 40%;
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all .5s; }
  .pageInner .contact .info ul {
    margin-bottom: 50px; }
    .pageInner .contact .info ul li {
      margin-bottom: 20px; }
      .pageInner .contact .info ul li .tit {
        font-size: 18px;
        width: 85px;
        margin-right: 30px;
        font-weight: bold; }
  .pageInner .contact .info p {
    line-height: 1.5em;
    margin-bottom: 10px; }

.popup {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000;
  background: #fff;
  overflow-y: scroll;
  display: none; }
  .popup.on {
    display: block; }
  .popup .popMain {
    width: 100%;
    height: 100vh;
    padding: 270px;
    box-sizing: border-box; }
    .popup .popMain .copyBox .mainCopy .italic {
      font-family: 'Noto Serif', serif;
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      color: #b0b0b0;
      font-weight: lighter;
      transform: translateY(50px);
      opacity: 0;
      animation: up 1s forwards;
      animation-delay: 0.2s; }
@keyframes up {
  100% {
    transform: translateY(0);
    opacity: 1; } }
    .popup .popMain .copyBox .mainCopy h4 {
      color: #fff;
      font-weight: bold;
      font-size: 55px;
      margin: 37px 0 30px;
      line-height: 1.3em;
      transform: translateY(50px);
      opacity: 0;
      animation: up 1s forwards;
      animation-delay: 0.5s; }
@keyframes up {
  100% {
    transform: translateY(0);
    opacity: 1; } }
    .popup .popMain .copyBox .mainCopy > p {
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      transform: translateY(50px);
      opacity: 0;
      animation: up 1s forwards;
      animation-delay: 0.8s; }
@keyframes up {
  100% {
    transform: translateY(0);
    opacity: 1; } }
    .popup .popMain .copyBox ul {
      margin-top: 130px;
      display: flex;
      justify-content: space-between;
      opacity: 0;
      animation: fadeIn 1s 1.3s forwards; }
@keyframes fadeIn {
  100% {
    opacity: 1; } }
      .popup .popMain .copyBox ul li p {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        color: #b8b8b8;
        margin-bottom: 25px; }
      .popup .popMain .copyBox ul li span {
        white-space: pre-line;
        color: #fff;
        line-height: 1.5em;
        font-weight: 100; }
  .popup .popContents {
    overflow: hidden; }
    .popup .popContents .flexBox {
      display: flex;
      align-items: center; }
      .popup .popContents .flexBox .contentText {
        margin-left: 80px; }
    .popup .popContents .visualBox {
      width: 100%;
      height: 530px; }
    .popup .popContents .videoBox {
      height: 700px;
      margin: 180px auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .popup .popContents .videoBox.in {
        width: 0;
        opacity: 0;
        animation: in 1s 0.5s forwards; }
@keyframes in {
  100% {
    width: 80%;
    opacity: 1; } }
      .popup .popContents .videoBox .video {
        width: 50%;
        height: 50%;
        background: #666; }
        .popup .popContents .videoBox .video video {
          width: 100%;
          height: 100%; }
    .popup .popContents .videoBox2 .video video {
      width: 100%;
      height: 100%; }
    .popup .popContents .inlineB {
      display: inline-block; }
    .popup .popContents .codepen, .popup .popContents .photo {
      width: 880px;
      height: 510px;
      padding: 50px 110px;
      background: #d5d3d5;
      box-sizing: border-box; }
    .popup .popContents .contentText {
      display: inline-block; }
      .popup .popContents .contentText figcaption {
        color: #fff;
        font-weight: bold;
        font-size: 26px;
        color: #333;
        margin-bottom: 35px; }
      .popup .popContents .contentText p {
        color: #565656;
        white-space: pre-line;
        line-height: 1.5em; }
  .popup .viewSite {
    width: 60px;
    height: 250px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .7s;
    display: none; }
    .popup .viewSite .visit {
      width: 100%;
      height: 190px;
      position: relative; }
      .popup .viewSite .visit:after {
        display: block;
        position: absolute;
        text-align: left;
        content: "VISIT SITE";
        white-space: pre;
        transform: rotate(90deg) translateY(50%) translateX(-8%);
        right: -50%;
        top: 50%;
        color: #fff;
        font-weight: bold;
        font-size: 20px; }
      .popup .viewSite .visit.active {
        opacity: .5;
        animation: clickMe 2s infinite; }
@keyframes clickMe {
  100% {
    opacity: 1; } }
    .popup .viewSite .top {
      width: 100%;
      height: 60px;
      background: #eee url("../img/top.png") no-repeat center center;
      text-indent: -9999px;
      transition: .3s;
      outline: none; }
      .popup .viewSite .top:hover {
        background: #999 url("../img/top.png") no-repeat center center; }
  .popup .closer {
    position: absolute;
    right: 52px;
    top: 52px; }
    .popup .closer .close {
      width: 40px;
      height: 40px;
      background: url("../img/closer.png") no-repeat center center;
      outline: none; }

.stranger .popMain {
  background: #2a1b3d; }
  .stranger .popMain .copyBox .mainCopy > p {
    color: #c24141; }
.stranger .popContents .visualBox {
  background: url("../img/stranger_visual.jpg") no-repeat center center; }
.stranger .popContents .videoBox {
  background: #2a1b3d; }
.stranger .popContents .onepageBox {
  width: 80%;
  margin: 0 auto 180px; }
  .stranger .popContents .onepageBox .codepen {
    background: #2a1b3d; }
    .stranger .popContents .onepageBox .codepen.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
@keyframes subIn {
  100% {
    width: 80%;
    opacity: 1; } }
  .stranger .popContents .onepageBox .contentText.in {
    transform: translateX(500px);
    opacity: 0;
    animation: textIn 0.7s 1s forwards; }
@keyframes textIn {
  100% {
    transform: translateX(0);
    opacity: 1; } }
.stranger .popContents .responBox {
  width: 80%;
  margin: 0 auto 180px;
  display: flex;
  flex-direction: row-reverse; }
  .stranger .popContents .responBox .videoBox2 {
    width: 680px;
    height: 640px;
    padding: 0 50px;
    box-sizing: border-box;
    background: #2a1b3d;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .stranger .popContents .responBox .videoBox2.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
@keyframes subIn {
  100% {
    width: 80%;
    opacity: 1; } }
    .stranger .popContents .responBox .videoBox2 .video:nth-of-type(1) {
      width: 175px;
      height: 300px;
      background: #565656; }
    .stranger .popContents .responBox .videoBox2 .video:nth-of-type(2) {
      width: 280px;
      height: 410px;
      background: #565656; }
  .stranger .popContents .responBox .contentText {
    margin-left: 0;
    margin-right: 80px; }
    .stranger .popContents .responBox .contentText.in {
      transform: translateX(-500px);
      opacity: 0;
      animation: textIn 1.5s 1.5s forwards; }
@keyframes textIn {
  100% {
    transform: translateX(0);
    opacity: 1; } }
.stranger .popContents .resjsBox {
  width: 80%;
  margin: 0 auto 180px; }
  .stranger .popContents .resjsBox .codepen {
    background: #2a1b3d; }
    .stranger .popContents .resjsBox .codepen.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
@keyframes subIn {
  100% {
    width: 80%;
    opacity: 1; } }
  .stranger .popContents .resjsBox .contentText.in {
    transform: translateX(500px);
    opacity: 0;
    animation: textIn 0.7s 1s forwards; }
@keyframes textIn {
  100% {
    transform: translateX(0);
    opacity: 1; } }
.stranger .viewSite .visit {
  background: #9164cb; }
  .stranger .viewSite .visit:hover {
    background: #2a1b3d; }

.gsbio .popMain {
  background: #031a34; }
  .gsbio .popMain .copyBox .mainCopy > p {
    color: #1d74ba; }
.gsbio .popContents .visualBox {
  background: url("../img/gsbio_visual.jpg") no-repeat center center; }
.gsbio .popContents .problemBox {
  width: 80%;
  margin: 0 auto 180px;
  margin: 180px auto 180px; }
  .gsbio .popContents .problemBox .photo {
    background: #cfdae6;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative; }
    .gsbio .popContents .problemBox .photo.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
@keyframes subIn {
  100% {
    width: 80%;
    opacity: 1; } }
    .gsbio .popContents .problemBox .photo img {
      display: inline-block;
      width: 573px;
      height: 333px; }
      .gsbio .popContents .problemBox .photo img:nth-of-type(2) {
        position: absolute;
        right: -80px;
        bottom: 0; }
  .gsbio .popContents .problemBox .contentText.in {
    transform: translateX(500px);
    opacity: 0;
    animation: textIn 0.7s 1s forwards; }
@keyframes textIn {
  100% {
    transform: translateX(0);
    opacity: 1; } }
  .gsbio .popContents .problemBox .contentText p {
    margin-bottom: 20px; }
  .gsbio .popContents .problemBox .contentText a {
    border: 1px solid #565656;
    padding: 10px 25px;
    transition: all .35s; }
    .gsbio .popContents .problemBox .contentText a:hover {
      background: #eee;
      border: 1px solid #eee; }
.gsbio .popContents .videoBox {
  background: #cfdae6; }
.gsbio .popContents .standardBox {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  margin: 0 auto 180px; }
  .gsbio .popContents .standardBox .photo {
    background: #cfdae6; }
    .gsbio .popContents .standardBox .photo.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
@keyframes subIn {
  100% {
    width: 80%;
    opacity: 1; } }
  .gsbio .popContents .standardBox .contentText {
    margin-left: 0;
    margin-right: 80px; }
    .gsbio .popContents .standardBox .contentText.in {
      transform: translateX(-500px);
      opacity: 0;
      animation: textIn 1.5s 1.5s forwards; }
@keyframes textIn {
  100% {
    transform: translateX(0);
    opacity: 1; } }
.gsbio .popContents .responsiveBox {
  width: 80%;
  margin: 0 auto 180px; }
  .gsbio .popContents .responsiveBox .codepen {
    background: #cfdae6; }
    .gsbio .popContents .responsiveBox .codepen.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
@keyframes subIn {
  100% {
    width: 80%;
    opacity: 1; } }
  .gsbio .popContents .responsiveBox .contentText.in {
    transform: translateX(500px);
    opacity: 0;
    animation: textIn 0.7s 1s forwards; }
@keyframes textIn {
  100% {
    transform: translateX(0);
    opacity: 1; } }
.gsbio .popContents .responBox {
  width: 80%;
  margin: 0 auto 180px;
  display: flex;
  flex-direction: row-reverse; }
  .gsbio .popContents .responBox .videoBox2 {
    width: 680px;
    height: 640px;
    padding: 0 50px;
    box-sizing: border-box;
    background: #cfdae6;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .gsbio .popContents .responBox .videoBox2.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
@keyframes subIn {
  100% {
    width: 80%;
    opacity: 1; } }
    .gsbio .popContents .responBox .videoBox2 .video:nth-of-type(1) {
      width: 175px;
      height: 300px;
      background: #565656; }
    .gsbio .popContents .responBox .videoBox2 .video:nth-of-type(2) {
      width: 280px;
      height: 410px;
      background: #565656; }
  .gsbio .popContents .responBox .contentText {
    margin-left: 0;
    margin-right: 80px; }
    .gsbio .popContents .responBox .contentText.in {
      transform: translateX(-500px);
      opacity: 0;
      animation: textIn 1.5s 1.5s forwards; }
@keyframes textIn {
  100% {
    transform: translateX(0);
    opacity: 1; } }
.gsbio .viewSite .visit {
  background: #031a34; }
  .gsbio .viewSite .visit:hover {
    background: #cfdae6; }

.portfolio .popMain {
  background: #febf00; }
  .portfolio .popMain .copyBox .mainCopy > p {
    color: #333; }
  .portfolio .popMain .copyBox ul li p {
    color: #c49e01; }
.portfolio .popContents .visualBox {
  background: url("../img/portfolio_visual.jpg") no-repeat center center; }
.portfolio .popContents .jsonBox {
  width: 80%;
  margin: 0 auto 180px;
  margin: 180px auto 180px;
  display: flex;
  flex-direction: row-reverse; }
  .portfolio .popContents .jsonBox .videoBox2 {
    width: 680px;
    height: 640px;
    padding: 90px 120px;
    box-sizing: border-box;
    background: #d5d3d5;
    display: flex;
    justify-content: center;
    align-items: center; }
    .portfolio .popContents .jsonBox .videoBox2.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
@keyframes subIn {
  100% {
    width: 80%;
    opacity: 1; } }
    .portfolio .popContents .jsonBox .videoBox2 .video {
      width: 100%;
      height: 100%; }
      .portfolio .popContents .jsonBox .videoBox2 .video video {
        width: 100%;
        height: 100%; }
  .portfolio .popContents .jsonBox .contentText {
    margin-left: 0;
    margin-right: 80px; }
    .portfolio .popContents .jsonBox .contentText.in {
      transform: translateX(-500px);
      opacity: 0;
      animation: textIn 1.5s 1.5s forwards; }
@keyframes textIn {
  100% {
    transform: translateX(0);
    opacity: 1; } }
.portfolio .popContents .eventBox {
  width: 80%;
  margin: 0 auto 180px; }
  .portfolio .popContents .eventBox .photo {
    display: flex;
    justify-content: center;
    align-items: center; }
    .portfolio .popContents .eventBox .photo.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
@keyframes subIn {
  100% {
    width: 80%;
    opacity: 1; } }
    .portfolio .popContents .eventBox .photo img {
      width: 100%;
      height: 100%; }
  .portfolio .popContents .eventBox .contentText.in {
    transform: translateX(500px);
    opacity: 0;
    animation: textIn 0.7s 1s forwards; }
@keyframes textIn {
  100% {
    transform: translateX(0);
    opacity: 1; } }
.portfolio .viewSite .visit {
  background: #febf00; }
  .portfolio .viewSite .visit:hover {
    background: #d5d3d5; }

@media all and (max-width: 1340px) {
  .pageInner .work .subTit {
    width: 100%;
    left: 0%;
    top: 20%; }
    .pageInner .work .subTit h2 {
      text-align: center; }
  .pageInner .work .workBox {
    margin-right: 0;
    left: 0%;
    top: 53%; }
    .pageInner .work .workBox .workTit {
      display: none; }
    .pageInner .work .workBox .workImg {
      width: 600px;
      height: 337px; }
  .pageInner .work .workList ul li {
    min-width: 29vw;
    height: 29vw; }
    .pageInner .work .workList ul li:nth-of-type(2n) {
      margin-right: 0; }
    .pageInner .work .workList ul li figure figcaption span {
      font-size: 2.4vw; }
    .pageInner .work .workList ul li figure figcaption .hashtag {
      font-size: 1.5vw; } }
@media all and (max-width: 1024px) {
  .scrollDown {
    display: none; }

  .about .down {
    width: 24px;
    height: 28px;
    display: block;
    position: absolute;
    left: calc(50% - 12px);
    bottom: 20px;
    z-index: 400;
    background: url("../img/down.png") no-repeat center center;
    opacity: 0; }
    .about .down.set {
      animation: move 1s infinite alternate-reverse; }
  @keyframes move {
    100% {
      bottom: 40px; } }
  .pageInner .about .skill .skillIcon {
    width: 80%; }
    .pageInner .about .skill .skillIcon li:nth-of-type(5) {
      margin-right: 0; }
  .pageInner .about .skill .skillList {
    width: 80%;
    padding: 0; }
    .pageInner .about .skill .skillList > li {
      width: 48%; }
      .pageInner .about .skill .skillList > li figure ul li {
        white-space: unset; }

  .pageInner .contact .subTit {
    left: 50%;
    top: 20%;
    transform: translateX(-50%); }
  .pageInner .contact .info {
    width: 80%;
    right: 50%;
    top: 47%;
    transform: translateX(50%); }
    .pageInner .contact .info ul {
      width: 58%;
      margin: 0 auto 50px; }
      .pageInner .contact .info ul li {
        margin-bottom: 20px; }
        .pageInner .contact .info ul li span {
          width: 60%;
          text-align: center; }
        .pageInner .contact .info ul li .tit {
          width: 40%;
          margin-right: 0; }
    .pageInner .contact .info p {
      text-align: center; }

  .pageInner .work .workList ul li:nth-of-type(2n) {
    margin-right: 0; }

  .popup .popMain {
    height: 76vh;
    padding: 20vh 10vw; }
    .popup .popMain .copyBox ul {
      margin-top: 80px; }
      .popup .popMain .copyBox ul li:nth-of-type(1) {
        width: 26%; }
      .popup .popMain .copyBox ul li:nth-of-type(2) {
        width: 23%; }
      .popup .popMain .copyBox ul li:nth-of-type(3) {
        width: 48%; }
  .popup .popContents .visualBox {
    height: 24vh; }
  .popup .popContents .flexBox {
    flex-direction: column;
    width: 90%;
    margin: 0 auto 140px; }
    .popup .popContents .flexBox .contentText {
      margin: 50px 0 0 0; }
      .popup .popContents .flexBox .contentText figcaption, .popup .popContents .flexBox .contentText p {
        text-align: center; }
  .popup .popContents .videoBox {
    height: 600px;
    margin: 140px auto; }
    .popup .popContents .videoBox.in {
      width: 0;
      opacity: 0;
      animation: in 1s 0.5s forwards; }
  @keyframes in {
    100% {
      width: 90%;
      opacity: 1; } }
    .popup .popContents .videoBox .video {
      width: 86%;
      height: 65%; }

  .stranger .popContents .visualBox {
    background: url("../img/stranger_visual_1024.jpg") no-repeat center center; }
  .stranger .popContents .onepageBox .codepen.in {
    width: 0;
    opacity: 0;
    animation: subIn 0.7s 0.3s forwards; }
  @keyframes subIn {
    100% {
      width: 100%;
      opacity: 1; } }
  .stranger .popContents .responBox .videoBox2.in {
    width: 0;
    opacity: 0;
    animation: subIn 0.7s 0.3s forwards; }
  @keyframes subIn {
    100% {
      width: 100%;
      opacity: 1; } }
  .stranger .popContents .resjsBox .codepen.in {
    width: 0;
    opacity: 0;
    animation: subIn 0.7s 0.3s forwards; }
  @keyframes subIn {
    100% {
      width: 100%;
      opacity: 1; } }
  .gsbio .popContents .visualBox {
    background: url("../img/gsbio_visual_1024.jpg") no-repeat center center; }
  .gsbio .popContents .problemBox .photo {
    margin-top: 140px; }
    .gsbio .popContents .problemBox .photo.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
  @keyframes subIn {
    100% {
      width: 100%;
      opacity: 1; } }
  .gsbio .popContents .problemBox .contentText {
    margin: 50px 0 0 0; }
    .gsbio .popContents .problemBox .contentText figcaption, .gsbio .popContents .problemBox .contentText p {
      text-align: center; }
    .gsbio .popContents .problemBox .contentText a {
      position: relative;
      left: 50%;
      transform: translateX(-50%); }
  .gsbio .popContents .standardBox .photo.in {
    width: 0;
    opacity: 0;
    animation: subIn 0.7s 0.3s forwards; }
  @keyframes subIn {
    100% {
      width: 100%;
      opacity: 1; } }
  .gsbio .popContents .responsiveBox .codepen.in {
    width: 0;
    opacity: 0;
    animation: subIn 0.7s 0.3s forwards; }
  @keyframes subIn {
    100% {
      width: 100%;
      opacity: 1; } }
  .portfolio .popContents .visualBox {
    background: url("../img/portfolio_visual_1024.jpg") no-repeat center center; }
  .portfolio .popContents .jsonBox {
    margin-top: 140px; }
    .portfolio .popContents .jsonBox .videoBox2.in {
      width: 0;
      opacity: 0;
      animation: subIn 0.7s 0.3s forwards; }
  @keyframes subIn {
    100% {
      width: 100%;
      opacity: 1; } }
  .portfolio .popContents .eventBox .photo.in {
    width: 0;
    opacity: 0;
    animation: subIn 0.7s 0.3s forwards; }
  @keyframes subIn {
    100% {
      width: 100%;
      opacity: 1; } } }
@media all and (max-width: 909px) {
  .pageInner .about .skill .skillIcon {
    width: 80%; }
    .pageInner .about .skill .skillIcon li:nth-of-type(4) {
      margin-right: 35px; }
    .pageInner .about .skill .skillIcon li:nth-of-type(5) {
      margin-right: 35px; } }

/*# sourceMappingURL=main.css.map */
