@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* font-family: 'Raleway', sans-serif; */
#wrap {
    width: 100%;
}
/* header */
header {
    width: 100%;
    padding: 8% 4%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.headerBack {
    background: rgba(0, 0, 0, 0.8);
}
header .logo {
    float: left;
}
header #gnb {
    display: none;
    padding-top: 85px;
}
header #gnb.gnbClick {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 6;
    animation: menu 0.35s linear;
}
@keyframes menu {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
header #gnb ul li {
    padding: 2%;
}
header #gnb ul li a {
    padding: 2% 4% 2% 0;
    text-align: right;
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
}
header .menuToggleBtn {
    width: 34px;
    height: 20px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}
header .menuToggleBtn span {
    width: 34px;
    height: 2px;
    border-radius: 5px;
    background: #fff;
    transition: all 0.35s linear;
    transform-origin: 13% 13%;
}
header .menuToggleBtn span.trans {
}
header .menuToggleBtn span.trans:nth-child(1) {
    transform: rotate(45deg);
}
header .menuToggleBtn span.trans:nth-child(2) {
    opacity: 0;
}
header .menuToggleBtn span.trans:nth-child(3) {
    transform: rotate(-45deg);
}
/* section */
#wrap section {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
/* main */
#main {
    background: url("../img/back_01_mobile.jpg");
    background-position: center 40%;
    z-index: 4;
}
#main:before {
    display: block;
    content: "";
    width: 22px;
    height: 65px;
    background: url("../img/icon/scroll_down.png") no-repeat center center/contain;
    position: absolute;
    left: calc(50% - 11px);
    bottom: 2%;
    z-index: 5;
    animation: scroll 0.5s 0.2s alternate infinite ease-in-out;
}
@keyframes scroll {
    0% {
    }
    100% {
        margin-bottom: 1%;
    }
}
#main video {
    display: none;
}
#main .mainCopy {
    margin-top: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
#main .mainCopy p:nth-child(1) {
    opacity: 0.6;
}
#main .mainCopy p:nth-child(2) {
    line-height: 1.4;
}
#main .mainCopy span {
    display: inline-block;
    overflow: hidden;
    animation: textup 0.7s forwards;
    transition: all 0.5s;
}
@keyframes textup {
    0% {
        padding-top: 100%;
    }
    100% {
        padding-top: 0%;
    }
}
#main .mainCopy p:nth-child(1) span {
    font-size: 30px;
    font-weight: 100;
}
#main .mainCopy p:nth-child(1) span:nth-child(2) {
    margin: 0 5px;
}
#main .mainCopy p:nth-child(2) span {
    font-size: 70px;
    font-weight: bold;
}
/* contents */
h2.secTit {
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
/* trailers */
#trailers {
    background: url("../img/back_02.jpg");
    background-position: center center;
    z-index: 3;
}
.inner {
    width: 91%;
    margin: 0 auto;
}
.inner .subCopy {
    margin: 180px 0 8%;
}
#trailers .inner .subCopy p {
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
}
#trailers .inner .trailersMedia video {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.inner .viewBtn {
    margin-top: 50px;
}
.inner .viewBtn a {
    margin: 0 auto;
    text-align: center;
    padding: 3px 6px;
    color: #fbb74d;
    position: relative;
    transition: all 0.3s linear;
}
.inner .viewBtn a:hover {
    transform: translateY(5px);
}
/* characters */
#characters {
    background: url("../img/back_03.jpg");
    background-position: center center;
    z-index: 2;
}
#characters .characterInfo {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
#characters .characterInfo ul {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

#characters .characterInfo ul li span {
    display: block;
    margin: 20px auto 0;
    text-align: center;
    color: #fbb74d;
}
#characters .characterInfo #prev,
#characters .characterInfo #next {
    position: absolute;
    top: 40%;
    z-index: 100;
    height: 48px;
    width: 30px;
    opacity: 0.6;
    background-position: left center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in;
    background: url("../img/icon/characters_arrow.png");
}
#characters .characterInfo #prev:hover,
#characters .characterInfo #next:hover {
    opacity: 1;
}
#characters .characterInfo #next:hover {
    background-position: right center;
}
#characters .characterInfo #prev {
    left: calc(50% - 215px);
}
#characters .characterInfo #next {
    right: calc(50% - 215px);
    background-position: right center;
}
#characters .characterInfo #prev.disable,
#characters .characterInfo #prev.disable {
    display: block;
}

/* gallery */
#gallery {
    background: url("../img/back_04.jpg");
    background-position: center center;
    z-index: 5;
}
#gallery .galleryInner {
    position: relative;
}
#gallery .galleryInner ul {
    height: 500px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
#gallery .galleryInner ul li {
    transform: scale(0.8);
    transition: all 1s ease-in;
}

#gallery .galleryInner ul li.selectImg {
    opacity: 1;
    transform: scale(1);
}

#gallery .galleryInner #galleryPrev,
#gallery .galleryInner #galleryNext {
    position: absolute;
    top: 52%;
    right: 2%;
    z-index: 100;
    height: 28px;
    width: 17px;
    opacity: 0.6;
    transform: rotate(90deg);
    transition: all 0.3s ease-in;
    background: url("../img/icon/characters_arrow.png") no-repeat left center/cover;
}
#gallery .galleryInner #galleryNext {
    top: 62%;
    background-position: right center;
}
#gallery .galleryInner #galleryPrev:hover,
#gallery .galleryInner #galleryNext:hover {
    opacity: 1;
}
/* leftnav */
.leftNav {
    position: fixed;
    left: 4%;
    bottom: 15%;
    z-index: 100;
}
.leftNav ul li {
    margin-bottom: 45px;
}
.leftNav ul li:last-child {
    margin-bottom: 0;
}
.leftNav ul li a {
    text-indent: -9999px;
    width: 22px;
    height: 22px;
    opacity: 0.6;
    background: url("../img/icon/left_nav_icon.png") no-repeat left center/cover;
}
.leftNav ul li a:hover {
    opacity: 1;
    background-image: url("../img/icon/left_nav_hover.png");
}
.leftNav ul li:nth-child(2) a {
    background-position: 49% center;
}
.leftNav ul li:nth-child(3) a {
    background-position: 97% center;
}
/* footer */
footer {
    position: fixed;
    left: 4%;
    bottom: 5%;
    z-index: 100;
}
footer p {
    color: #676767;
    font-weight: 100;
    font-size: 14px;
}
/* js */
.slide {
    transform: translateY(0);
    transition: 0.8s ease-out;
}
/* tablet */
@media all and (min-width: 720px) {
    /* header */
    header {
        padding: 110px 10% 0;
    }
    header .menuToggleBtn {
        display: none;
    }
    header #gnb {
        padding-top: 0;
        width: 65%;
        display: block;
        float: right;
    }
    header #gnb.gnbClick {
        display: block;
        width: 100%;
        height: 100%;
        position: inherit;
        background: none;
        z-index: inherit;
    }
    header #gnb ul {
        text-align: right;
    }
    header #gnb ul li {
        display: inline-block;
        margin-left: 20px;
    }
    header #gnb ul li a {
        padding: 2% 0;
        font-size: 16px;
        font-weight: bold;
        color: #a5a5a5;
        transition: 0.5s;
    }
    header #gnb ul li:hover a {
        color: #fbb74d;
    }
    /* main */
    #main {
        background: none;
        overflow: hidden;
        position: relative;
    }
    #main:after {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
    #main video {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        transform: scale(1.5);
        display: block;
    }
    #main .mainCopy {
        margin: 0 auto;
        width: 60%;
        position: absolute;
        left: calc(50% - 30%);
        top: 30%;
        z-index: 5;
    }
    #main .mainCopy p:nth-child(1) {
        margin-bottom: 30px;
    }
    #main .mainCopy p:nth-child(1) span {
        font-size: 50px;
    }
    #main .mainCopy p:nth-child(1) span:nth-child(2) {
        margin: 0 20px;
    }
    #main .mainCopy p:nth-child(2) span {
        font-size: 80px;
    }
    .inner .subCopy {
        margin: 180px 0 8%;
    }
    /* trailers */

    #trailers .inner .trailersMedia {
        width: 78%;
        margin: 0 auto;
    }
    /* character */
    #characters .inner .characterInfo {
        width: 78%;
        margin: 0 auto;
    }
    #characters .characterInfo #prev {
        left: calc(50% - 250px);
    }
    #characters .characterInfo #next {
        right: calc(50% - 250px);
        background-position: right center;
    }
    /* leftnav */
    .leftNav {
        left: 9.7222%;
        bottom: 30%;
    }
    .leftNav ul li a {
        width: 16px;
        height: 16px;
        opacity: 1;
    }
    /* right nav */
    .rightNav {
        position: fixed;
        right: 9.7222%;
        bottom: 23.6666%;
        z-index: 100;
    }
    .rightNav span {
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
        margin-bottom: 39px;
        cursor: pointer;
    }
    .rightNav span:hover {
        background: #c00000;
    }
    /* js */
    .rightNav span.backRed {
        background: #c00000;
    }
    /* footer */
    footer {
        left: 9.7222%;
        bottom: 10%;
    }
}

/* pc */
@media all and (min-width: 1025px) {
    /* main */
    #main .mainCopy p:nth-child(1) span {
        font-size: 60px;
    }
    #main .mainCopy p:nth-child(2) span {
        font-size: 100px;
    }
    #main .mainCopy p:nth-child(2) span:nth-child(1) {
        margin-right: 40px;
    }
    /* contents */
    h2.secTit {
        font-size: 50px;
        text-align: left;
        margin-top: 32%;
    }
    /* trailers */
    #trailers .inner {
        width: 100%;
        box-sizing: border-box;
        padding: 8% 15% 0;
        margin: 0 auto;
        overflow: hidden;
    }
    #trailers .inner .subCopy {
        margin: 0;
        float: left;
    }
    #trailers .inner .subCopy p {
        color: #fff;
        font-size: 30px;
        text-align: left;
        margin-top: 20px;
    }
    #trailers .inner .trailersMedia {
        float: right;
        width: 50%;
        margin: 150px 50px 0 0;
    }
    #trailers .inner .trailersMedia video {
        width: 100%;
        margin: 0;
    }
    #trailers .inner .viewBtn {
        clear: both;
    }
    #trailers .inner .viewBtn a {
        text-align: left;
        font-size: 14px;
    }
    /* character */
    #characters .inner {
        width: 100%;
        box-sizing: border-box;
        padding: 8% 15% 0;
        margin: 0 auto;
        overflow: hidden;
    }
    #characters .inner .subCopy {
        margin: 0 0 1.9%;
        float: left;
    }
    #characters .inner .characterInfo {
        width: 100%;
    }
    #characters .inner .characterInfo ul {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    #characters .inner .characterInfo ul li {
        width: 23%;
        transition: all 0.5s ease-in;
    }
    #characters .inner .characterInfo ul li img {
        width: 100%;
    }
    #characters .inner .characterInfo ul li:nth-child(2),
    #characters .inner .characterInfo ul li:nth-child(4) {
        margin-top: 60px;
    }
    #characters .inner .characterInfo ul li:hover {
        transform: translateY(-20px);
    }

    #characters .inner .characterInfo #prev,
    #characters .inner .characterInfo #next {
        display: none;
    }
    /* gallery */
}
